<!DOCTYPE html>
<html>
  <%- include('../partials/head') %>
  <body>
    <!-- White centered box -->
    <main>
      <%- include('../partials/header') %>
      <%- include('../partials/navigation') %>
      <%- body %>
      <%- include('../partials/footer') %>
    </main>
  </body>
</html>
